{% extends '::base.html.twig' %}
{% block stylesheets %}
	
	{% stylesheets 'bundles/usuario/css/*' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	{% stylesheets 'bundles/usuario/css/smoothness/*' filter='cssrewrite' output='css/smoothness/jqueryui.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	
	
{% endblock %}

{% block javascripts %}
	{% javascripts 'bundles/usuario/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
{% block body %}
<section id="contenedor">
	<header>
		<a href="{{ path('home') }}"><img src="{{ asset('bundles/usuario/images/logo.png') }}"></a>
		
		{% if is_granted('ROLE_USER') %}
		{% set currentPath = path(app.request.attributes.get('_route')) %}
		<nav>
			<ul> 
				<li>
					<a href="{{ path('perfil') }}"> 
						{% if currentPath|split('/')|last == 'perfil' %}
							<b>Mi Perfil</b> 
						{% else %}
							Mi perfil 
						{% endif %} 
					</a>
				</li> 
				<li>
					<a href="{{ path('ficheros') }}"> 
						{% if currentPath|split('/')|last == 'ficheros' %}
							<b>Ficheros</b> 
						{% else %}
							Ficheros 
						{% endif %} 
					</a>
				</li>
				<li>
					<a href="{{ path('eventos') }}"> 
						{% if currentPath|split('/')|last == 'eventos' %}
							<b>Eventos</b> 
						{% else %}
							Eventos 
						{% endif %} 
					</a>
				</li>
				<li>
					<a href="{{ path('links') }}"> 
						{% if currentPath|split('/')|last == 'links' %}
							<b>Links</b> 
						{% else %}
							Links 
						{% endif %} 
					</a>
				</li> 
			</ul>
		</nav>
			<div class='login_box'><span style='position:relative;right:15px;color:white;font-size:20px;'>Hola, <i>{{ app.user.nombreusuario }} </i></span> <button class='mid green button' onclick="window.location='{{ path('logout') }}'">Salir</button></div>
		{% else %}
			<div class='login_box'>
				<form action="{{ path('login_check') }}" method="post">
					<label for="username">Email:</label>
					<input type="text" id="username" name="_username" value="" />
					
					<label for="password">Password:</label>
					<input type="password" id="password" name="_password" />
					
					<input type="hidden" name="_target_path" value="/home" />
					<button class="mid button green" type="submit">Entrar</button>
				</form>
			</div>
		{% endif %}
	</header>
		
	<article>
	<img class='bgbox' src="{{ asset('bundles/usuario/images/imagen_portada.png') }}">
		{% block article %}{% endblock %}
	</article>
	
</section>
	<!--
	<aside>
	</aside>
	-->
	<footer>
		&copy; {{ 'now' | date('Y') }} - eCloud
		<a class='footer_links' href="{{ path('ayuda') }}">Ayuda</a>
		<a class='footer_links' href="{{ path('contacto') }}">Contacto</a>
		<a class='footer_links' href="{{ path('privacidad') }}">Privacidad</a>
		<a class='footer_links' href="{{ path('sobre-nosotros') }}">Sobre nosotros</a>
	</footer>
{% endblock %}