{% extends '::base.html.twig' %}
{% block stylesheets %}
	
	{% stylesheets 'bundles/usuario/css/*' filter='cssrewrite' output='css/all.css'%}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	{% stylesheets 'bundles/usuario/css/smoothness/*' filter='cssrewrite' output='css/smoothness/jqueryui.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	
{% endblock stylesheets %}

{% block javascripts %}
	{% javascripts 'bundles/usuario/js/*'  output='js/all.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock javascripts %}
{% block body %}
	<div id="container">
		<header class="header_out">
			<a href="{{ path('home') }}"><img src="{{ asset('bundles/usuario/images/logo.png') }}"></a>		
			{% set currentPath = app.request.attributes.get('_route') %}
			{% set pages = ['login','recovery'] %}
			{% if currentPath|split('/')|last not in pages %}
				<div class='login_box'>
					<form action="{{ path('login_check') }}" method="post">
						<label for="username">Email:</label>
						<input type="text" id="username" name="_username" value="" />
						
						<label for="password">Password:</label>
						<input type="password" id="password" name="_password" />
						
						<input type="hidden" name="_target_path" value="/home" />
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<button class="mid button green" type="submit">Entrar</button>
					</form>
				</div>
			{% endif %}
		</header>
		<article class="article_out">
				{{ block('article') }}
		</article>
		<footer class="footer_out">
			&copy; {{ 'now' | date('Y') }} - eCloud
			<a class='footer_links' href="{{ path('ayuda') }}">Ayuda</a>
			<a class='footer_links' href="{{ path('contacto') }}">Contacto</a>
			<a class='footer_links' href="{{ path('privacidad') }}">Privacidad</a>
			<a class='footer_links' href="{{ path('sobre-nosotros') }}">Sobre nosotros</a>
		</footer>	
	</div>
{% endblock body %}