{% extends '::frontend.html.twig' %}
{% block id 'usuario' %}
{% block title %}Registrate gratis como usuario{% endblock %}
{% block article %}
<div class="center">
<h1>{{ block('title') }}</h1>


<form action="{{ path('registro') }}" method="post" {{form_enctype(formulario) }}>

<div class="errors">
		{{ form_errors(formulario) }}
		</div>
		<table class='form'>
		<tbody>
			<tr>
				<td>Email</td>
				<td>{{ form_widget(formulario.email) }}</td>
			</tr>
			<tr>
				<td>Nombre Usuario</td>
				<td>{{ form_widget(formulario.nombre_usuario) }}</td>
			</tr>
			<tr>
				<td>Password</td>
				<td>{{ form_widget(formulario.password) }}</td>
			</tr>
			<tr>
				<td>Nombre</td>
				<td>{{ form_widget(formulario.nombre) }}</td>
			</tr><tr>
				<td>Apellidos</td>
				<td>{{ form_widget(formulario.apellidos) }}</td>
			</tr>
			<tr>
				<td>Direccion</td>
				<td>{{ form_widget(formulario.direccion) }}</td>
			</tr>
			<tr>
				<td>Ciudad</td>
				<td>{{ form_widget(formulario.ciudad) }}</td>
			</tr>
			<tr>
				<td>Pais</td>
				<td>{{ form_widget(formulario.pais) }}</td>
			</tr>
			<tr>
				<td>Idioma</td>
				<td>{{ form_widget(formulario.idioma) }}</td>
			</tr>
			<tr>
				<td>Zona horaria</td>
				<td>{{ form_widget(formulario.zone) }}</td>
			</tr>
			{{ form_rest(formulario) }}
			<tr>
				
			</tr>
		</div>
		</tbody>
		</table><br>
<input class="boton" type="submit" value="Registrarme" />
</form>



</div>
{% endblock %}
{% block aside %}{% endblock %}