{% extends '::frontend.html.twig' %}
{% block title %}Eventos {% endblock %}

{% block article %}
<section>
	<h1>{{ block('title') }}</h1>

	<div class="tabla" id="tabla">
	
	
	
	
	
	
	
	
	
	<!-- Metodo antiguo sin JSON
	<table><caption>{{ app.user.nombreusuario }}</caption>
	<thead><tr><th style='width:87%;'>Acci&oacute;n</th><th>Fecha</th></tr></thead>
	<tbody>
	
		{% set var1 = 0 %}
		{% for eventos in eventos %}
		
		{% set var1 = var1 + 1 %}

		<tr {% if var1 is divisibleby(2) %} class="odd" {% endif %}>
			<th
				{% if "Has subido" in eventos.accion %} style='background-color:#B5FFB5;' {% endif %} 
				{% if "Has borrado" in eventos.accion %} style='background-color:#FFB5B5;' {% endif %}
				{% if "Has modificado" in eventos.accion %} style='background-color:yellow;' {% endif %}				
				>{{ eventos.accion }}		
			</th>
			<th  style='text-align:center;'>{{ eventos.fecha|date('H:i:s d-m-Y ') }}</th>
		</tr>
		{% endfor %}
		{% if var1 == 0 %}<tr><th><a href="{{ app.request.getRequestURI() }}/../"/>../</a></th><th></th><th></th><th></th></tr>{% endif %}
	</tbody>
	<tfoot><tr><th>Total</th><td colspan="4">{{ var1  }} eventos</td></tr></tfoot>
	</table>
	-->
	</div>	

</section>
{% endblock %}