{% extends '::frontend.html.twig' %}
{% block title %}Eventos {% endblock %}

{% block article %}
<section>
	<h1>{{ block('title') }}</h1>
	
	
	
	
		
	<script type="text/javascript">
		//Script para manejar el JSON -> Funcion mas tarde llamada eventosJSONtoTable en un fichero Javascript General que detecte la URL y ejecute funciones en base a ello()
  String.prototype.transformaCaracteresEspeciales = function() {
    return unescape(escape(this).
                      replace(/%0A/g, '<br/>').
                      replace(/%3C/g, '&lt;').
                      replace(/%3E/g, '&gt;'));
  }
  
 
    // Cargar JSON según URL
    switch (location.pathname){
	
	case "/eventos":
	cargarContenido('GET','api/eventos?nocache='+Math.random(), muestraEventos);
	break;
	case "/app_dev.php/eventos":
	cargarContenido('GET','api/eventos?nocache='+Math.random(), muestraEventos);
	break;
	case "/app.php/eventos":
	cargarContenido('GET','api/eventos?nocache='+Math.random(), muestraEventos);
	break;
  }
  
  function cargarContenido(metodo,url,funcion) {
  
    // Instanciar objeto XMLHttpRequest
    if(window.XMLHttpRequest) {
      peticion = new XMLHttpRequest();
    }
    else {
      peticion = new ActiveXObject("Microsoft.XMLHTTP");
    }
    
    // Preparar función de respuesta
	//if(contenedor==''){peticion.onreadystatechange = funcion;}else{peticion.onreadystatechange = funcion(contenedor);}
	peticion.onreadystatechange = funcion;
    // Realizar petición
    peticion.open(metodo, url, true);
    peticion.send(null);
  }
  
  
  // Función de respuesta
  function muestraEventos() {
    if(peticion.readyState == 4) {
	 
      if(peticion.status == 200) {
	 
		// Borrar datos anteriores
		//limpia(contenedor);
	  
        div = document.getElementById('tabla');
        		
		//JSON
		var arr = eval ("(" + peticion.responseText+ ")"); 
		
		
		// Formatear JSON en una tabla
		var tabla;
		var cab = "<tr>";
		var cuerpo = "";
		var color="";
		var idfichero="";
		for(var i=0;i<arr.length;i++){
			var obj = arr[i];
			cuerpo = cuerpo + "<tr>";
			for(var key in obj){
				//Para saltar campos
				//alert(key);
				if(key=="accion" || key=="fecha"){
				
					var attrName = key;
					var attrValue = obj[key];
					if(attrName=="accion"){

						if(attrValue.match(/^Has subido el fichero/)!=null){
							//Has subido... //Procesar accion para sacar el idfichero del fichero subido
							color="#B5FFB5";
							idfichero="cargadivFichero("+obj['idFichero']+")";
							attrValue=attrValue.replace(obj['nombreFicheroNuevo'],"<a href='descargar/"+obj['idFichero']+"' onmouseover=\" ' "+idfichero+"\" onmouseout=\" \">"+obj['nombreFicheroNuevo']+"</a>");
							
						}
						else if(attrValue.match(/^Has creado la carpeta/)!=null){
							//Has creado la carpeta... //Procesar accion para sacar el idfichero de la carpeta creada
							color="#B5FFB5";
						}
						else if(attrValue.match(/^Has borrado el fichero/)!=null){
							//Has borrado... //Procesar accion para sacar el idfichero del fichero borrado
							color="#FFB5B5";
							}
						else if(attrValue.match(/^Has borrado la carpeta/)!=null){
							//Has borrado... //Procesar accion para sacar el idfichero del fichero borrado
							color="#FFB5B5";
							}
						else if(attrValue.match(/^Has cambiado el nombre al fichero /)!=null){
							//Has cambiado el nombre al fichero... //Procesar accion para sacar el idfichero del fichero modificado
							color="#FFFF00";
						}
						else if(attrValue=="&iexcl;Te has registrado!"){color="#95FF95";}
						else {color="";}
						
						cuerpo = cuerpo + "<td style='background-color:"+color+";' > "+attrValue+"</td>";
						idFichero="";
					}
					else if(attrName=="fecha"){
						var date = new Date(attrValue['timestamp']*1000);
						var _mes=date.getMonth()+1; //getMonth devuelve el mes empezando por 0
						var _dia=date.getDate(); //getDate devuelve el dia del mes
						var _anyo=date.getFullYear();
						//alert(_dia+"-"+_mes+"-"+_anyo); //ejemplo para mostrarlo
						//alert(color);
						cuerpo = cuerpo + "<td style='text-align:right;background-color:"+color+";'>" + _dia+"/"+_mes+"/"+_anyo + " "+date.getHours()+":"+date.getMinutes()+"</td>";
					}
					else if(attrValue==null){cuerpo = cuerpo +"<td></td>";}
					else{cuerpo = cuerpo + "<td>" + attrValue + "</td>";
					}
					
					//if (i==0){
					//Guarda cabeceras de la tabla
					//cab = cab + "<th>" + attrName + "</th>";
					//}
				}
			}
			cuerpo = cuerpo + "</tr>";
		}
		cab="<tr><th style='width:87%;'>Acci&oacuten</th><th> </th>";
		tabla = "<table>" + cab + "</tr>" + cuerpo + "</table>";
		div.innerHTML = tabla;
		
		
      }
    }
	
  }
  
  //Sin terminar, es la plantilla para crear tablas.
  function muestraFicheros() {
    if(peticion.readyState == 4) {
	 
      if(peticion.status == 200) {
	 
		// Borrar datos anteriores
		//limpia(contenedor);
	  
        div = document.getElementById('tabla');
        		
		//JSON
		var arr = eval ("(" + peticion.responseText+ ")"); 
		
		
		// Formatear JSON en una tabla
		var tabla;
		var cab = "<tr>";
		var cuerpo = "";
	
		for(var i=0;i<arr.length;i++){
			var obj = arr[i];
			cuerpo = cuerpo + "<tr>";
			for(var key in obj){
				//Para saltar campos
				//alert(key);
				if(key=="accion" || key=="fecha"){
				
					var attrName = key;
					var attrValue = obj[key];
					cuerpo = cuerpo + "<td>" + attrValue + "</td>";
					if (i==0){
					//Guarda cabeceras de la tabla
					cab = cab + "<th>" + attrName + "</th>";
					}
				}
			}
			cuerpo = cuerpo + "</tr>";
		}
		tabla = "<table>" + cab + "</tr>" + cuerpo + "</table>";
		div.innerHTML = tabla;
		
		
      }
    }
	
  }
  
  
    function cargadivFichero(id) {
	cargarContenido('GET','api/fichero/'+id+'?nocache='+Math.random(), muestradivFichero);
	}
	
	
    function muestradivFichero() {
    if(peticion.readyState == 4) {
	 
      if(peticion.status == 200) {
	 
		// Borrar datos anteriores
		//limpia(contenedor);
	  
        div = document.getElementById('divfichero');
        		
		//JSON
		var arr = eval ("(" + peticion.responseText+ ")"); 
		//alert(arr);
		
		// Formatear JSON en una tabla
		var tabla;
		
		var cab = "<tr>";
		var cuerpo = "";
	
		for(var i=0;i<arr.length;i++){
			var obj = arr[i];
			cuerpo = cuerpo + "<tr>";
			for(var key in obj){
				//Para saltar campos
				//alert(key);
				if(key=="nombreFichero" || key=="ruta" || key=="filesize" || key=="fechaSubida"){
				
					var attrName = key;
					var attrValue = obj[key];
					cuerpo = cuerpo + "<td>" + attrValue + "</td>";
					if (i==0){
					//Guarda cabeceras de la tabla
					cab = cab + "<th>" + attrName + "</th>";
					}
				}
			}
			cuerpo = cuerpo + "</tr>";
		}
		tabla = "<table>" + cab + "</tr>" + cuerpo + "</table>";
		
		
		
		div.innerHTML = tabla;
		
		
      }
    }
	
  }
  
  
  
  
  
  
  
  function limpia(id) {
  document.getElementById(id).innerHTML = "";
  }
  

	</script>
	
	<div class="tabla" id="tabla">
	
	
	
	{# 
	<!-- Metodo antiguo sin JSON
	<table><caption>{{ app.user.nombreusuario }}</caption>
	<thead><tr><th style='width:87%;'>Acci&oacute;n</th><th>Fecha</th></tr></thead>
	<tbody>
	
		{% set var1 = 0 %}
		{% for eventos in eventos %}
		
		{% set var1 = var1 + 1 %}

		<tr {% if var1 is divisibleby(2) %} class="odd" {% endif %}>
			<th
				{% if "Has subido" in eventos.accion %} style='background-color:#B5FFB5;' {% endif %} 
				{% if "Has borrado" in eventos.accion %} style='background-color:#FFB5B5;' {% endif %}
				{% if "Has modificado" in eventos.accion %} style='background-color:yellow;' {% endif %}				
				>{{ eventos.accion }}		
			</th>
			<th  style='text-align:center;'>{{ eventos.fecha|date('H:i:s d-m-Y ') }}</th>
		</tr>
		{% endfor %}
		{% if var1 == 0 %}<tr><th><a href="{{ app.request.getRequestURI() }}/../"/>../</a></th><th></th><th></th><th></th></tr>{% endif %}
	</tbody>
	<tfoot><tr><th>Total</th><td colspan="4">{{ var1  }} eventos</td></tr></tfoot>
	</table>
	-->
	#} 
	</div>
	
	<div id="divfichero" style="position:relative;background-color:#00FF00">
	ss
	</div>

</section>
	
{% endblock %}