{% extends '::frontend.html.twig' %}
{% block title %}Ficheros {% endblock %}

{% block article %}
<section>
	<h1>{{ block('title') }}</h1>
	<div class="tabla" id='itsthetable'>
	<table>
	<caption>{{ app.user.nombreusuario }}<a href="{{ path('ficheros') }}">/{{ ruta }}</a> <div style='float:right'><button id='button_subir'>Subir archivo</button> <button id='button_carpeta'>Crear carpeta</button></div></caption>

	<thead><tr><th style='width:80%;'>Nombre</th><th>Tama&ntilde;o</th><th>Modificado</th><th></th></tr></thead>
	<tbody>
		{% set var1 = 0 %}
		{% for ficheros in ficheros %}
		
		{% set var1 = var1 + 1 %}

		<tr {% if var1 is divisibleby(2) %} class="odd" {% endif %}>
			<th>
				{% if ficheros.tipo == 'carpeta' %}
					{% if ficheros.ruta == '/' %}
						<a href="{{ path('ficheros') }}{{ ['/',ficheros.nombrefichero]|join }}">{{ ficheros.nombrefichero }}/</a> 
					{% else %}
						<a href="{{ path('ficheros') }}{{ [ficheros.ruta,'/',ficheros.nombrefichero]|join }}">{{ ficheros.nombrefichero }}/</a> 
					{% endif %}
					
				{% else %}
					<a href="{{ path('descargar', { 'fichero': ficheros.idfichero }) }}">{{ ficheros.nombrefichero }}</a> 
				{% endif %}
			</th>
			<th> {{ficheros.filesize}} Mbytes</th>
			<th>{{ ficheros.fechasubida|date('d-m-Y') }}</th>
			<th> 
				<a href="{{ path('modificar', { 'fichero': ficheros.idfichero }) }}"><img  alt="Editar" src="{{ asset('bundles/usuario/images/edit.png') }}"></img></a>
				<a href="{{ path('borrar', { 'fichero': ficheros.idfichero }) }}"><img alt="Eliminar" src="{{ asset('bundles/usuario/images/delete.png') }}"></img></a>
			</th>
		</tr>
		{% endfor %}
		{% if var1 == 0 %}<tr><th><a href="{{ app.request.getRequestURI() }}/../"/>../</a></th><th></th><th></th><th></th></tr>{% endif %}
	</tbody>
	<tfoot><tr><th>Total</th><td colspan="4">{{ var1  }} archivos</td></tr></tfoot>
	</table>
	</div>	

	</div>
	
	<div id='file_upload' class='div_amagado'>
		<table class='no_class'>
			<tr>
					<form action="{{ path('subir') }}" method="POST" {{ form_enctype(formulario) }}>
						{{ form_errors(formulario) }}
						<td>{{ form_row(formulario.file) }} </td>
						<td><input type="submit" value="Subir" /></td>
						<td>{{ form_rest(formulario) }}</td>
					</form>
					<td><button id='cerrar_file_upload'>Cerrar</button></td>
			</tr>
		</table>
	</div>
	
	<div id='crear_carpeta' class='div_amagado'>
		<table class='no_class'>
			<tr>
				<form action="{{ path('subir') }}" method="POST" {{ form_enctype(formulario_carpeta) }}>
					{{ form_errors(formulario_carpeta) }}
					<td>{{ form_row(formulario_carpeta.nombrefichero) }}</td>
					<td><input type="submit" value="Crear" /></td>
					<td>{{ form_rest(formulario_carpeta) }}</td>
				</form>
				<td><button id='cerrar_crear_carpeta'>Cerrar</button></td>
			</tr>
		</table>
	</div>
	
	
	<script>
		$(document).ready(function(){
		  $("#button_subir").click(function(){
			$("#itsthetable").fadeTo("slow",0.15);
			$("#crear_carpeta").hide();
			$("#file_upload").show();
		  });
		  $("#button_carpeta").click(function(){
			$("#itsthetable").fadeTo("slow",0.15);
			$("#file_upload").hide();
			$("#crear_carpeta").show();
		  });
		  $("#cerrar_file_upload").click(function(){
			$("#crear_carpeta").hide();
			$("#file_upload").hide();
			$("#itsthetable").fadeTo("slow",1);
		  });
		  $("#cerrar_crear_carpeta").click(function(){
			$("#crear_carpeta").hide();
			$("#file_upload").hide();
			$("#itsthetable").fadeTo("slow",1);
		  });
		});
	</script>
</section>
{% endblock %}