{% extends '::frontend.html.twig' %}
{% block title %}Modificar {% endblock %}

{% block article %}
<section>
	<h1>{{ block('title') }}</h1>
	
	<script type="text/javascript">
	function caracteresprohibidos(cadena){
	var a=false;
		if(cadena.match(/\//)){ a=true;}
		if(cadena.match(/\\/)){ a=true;}
		if(cadena.match(/:/)){ a=true;}
		if(cadena.match(/\?/)){ a=true;}
		if(cadena.match(/</)){ a=true;}
		if(cadena.match(/>/)){ a=true;}
		if(cadena.match(/'/)){ a=true;}
		if(cadena.match(/"/)){ a=true;}
		if(cadena.match(/~/)){ a=true;} //Aqui hay un bug que hace que se ejecute dos veces el alert del warning,
		if(cadena.match(/\*/)){ a=true;}
		if(cadena.match(/\|/)){ a=true;}
		
		return a;
	}
	
	//Igual que la anterior pero solo para rutas, esta permite / pero no permite ../ para evitar escalada de rutas.
	function caracteresprohibidos2(cadena){
	var a=false;
		if(cadena.match(/\.\.\//)){ a=true;}
		if(cadena.match(/\\/)){ a=true;}
		if(cadena.match(/:/)){ a=true;}
		if(cadena.match(/\?/)){ a=true;}
		if(cadena.match(/</)){ a=true;}
		if(cadena.match(/>/)){ a=true;}
		if(cadena.match(/'/)){ a=true;}
		if(cadena.match(/"/)){ a=true;}
		if(cadena.match(/~/)){ a=true;} //Aqui hay un bug que hace que se ejecute dos veces el alert del warning,
		if(cadena.match(/\*/)){ a=true;}
		if(cadena.match(/\|/)){ a=true;}
		
		return a;
	}
	
	function escalada(cadena){
	var a=false;
		if(cadena.match(/\.\.\//)){ a=true;}
		return a;
	}
	
	function comprobarFichero(elemento) {
	var cadena=elemento.value;
		if (caracteresprohibidos(cadena)==true){
			alert("Esta prohibido crear ficheros con caracteres prohibidos ( \\ : ? < > \' \" ~ * | ).");
			elemento.value=cadena.slice(0,cadena.length-1);
		}
	
	}
	
	function comprobarRuta(elemento) {
	var cadena=elemento.value;
		if (escalada(cadena)==true){
			alert("Esta prohibido utilizar rutas con ../");
			elemento.value="";
			cadena="";
		}
		if (caracteresprohibidos2(cadena)==true){
			alert("Esta prohibido crear rutas con caracteres prohibidos ( ../ \\ : ? < > \' \" ~ * | ).");
			elemento.value=cadena.slice(0,cadena.length-1);
		}
	
	}
	
	</script>
	
	<form action="{{ path('modificar', { 'fichero': fichero }) }}" method="post" {{ form_enctype(formulario) }}>
		<div class="errors">
		{{ form_errors(formulario) }}
		</div>
		{% for ficheros in ficheros %}
		<div>
		<table class='form'>
			<tbody>
				<tr>
					<td style='width:150px'>Fichero: </td>
					<td>{{ ficheros.nombrefichero }} </td>
				</tr>
				<tr>
					<td>Ruta </td>
					<td>{{ ficheros.ruta }} </td>
				</tr>
				<tr>
					<td>Tama&ntilde;o </td>
					<td>{{ ficheros.filesize }} </td>
				</tr>
				<tr>
					<td>Checksum: </td>
					<td>{{ ficheros.checksum }} </td>
				</tr>
				<tr>
					<td>Total Descargas: </td>
					<td>{{ ficheros.totaldescargas }} <br></td>
				</tr>
				<tr>
					<td> Nuevo Nombre Fichero </td>
					<td><div>{{ form_errors(formulario.nombrefichero) }}{{ form_widget(formulario.nombrefichero, {'attr': {'onkeyup': 'comprobarFichero(this)'}}) }} </div></td>
				</tr>
				<tr>
					<td> Nueva Ruta </td>
					<td><div>{{ form_errors(formulario.ruta) }}{{ form_widget(formulario.ruta, {'attr': {'onkeyup': 'comprobarRuta(this)'}}) }} </div> </td>
				</tr>
			</tbody>
		</table>
		
		</div>

		{% endfor %}
		<div>
		</div>
		{{ form_rest(formulario) }}
		<input class="boton" type="submit" value="Guardar cambios" />
	</form>
	<br><br>
	<button id='button_link'>Crear Link</button>
	
	<div id='crear_link' style='display:none;'>
		<table class='no_class'>
			<tr>
				<form action="{{ path('links') }}" method="POST" {{ form_enctype(formulario_link) }}>
					<div class="errors">{{ form_errors(formulario_link) }}</div>
					<tr>
						<td> Direccion </td>
						<td>{{ form_widget(formulario_link.url) }} </td>
					</tr>
					<tr>
						<td> Fecha Inicio </td>
						<td>{{ form_widget(formulario_link.fechaInicio) }} </td>
					</tr>
					<tr>
						<td> Fecha Expiracion </td>
						<td>{{ form_widget(formulario_link.fechaExpiracion) }} </td>
					</tr>
					<tr>
						<td> Usuarios </td>
						<td>{{ form_widget(formulario_link.usuarios) }} </td>
					</tr>
					
					<td><input type="submit" value="Crear Link" /></td>
					<td>{{ form_rest(formulario_link) }}</td>
				</form>
				<td><button id='cerrar_crear_link'>Cerrar</button></td>
			</tr>
		</table>
	</div>
	
	
	<script>
		$(document).ready(function(){
		  $("#button_link").click(function(){
			$("#crear_link").show();
		  });
		  $("#cerrar_crear_link").click(function(){
			$("#crear_link").hide();
		  });
		});
	</script>
	
	
	
	
</section>
{% endblock %}