{% extends '::frontend.html.twig' %}
{% block title %}Mi perfil {% endblock %}

{% block article %}
<section>
	<h1>{{ block('title') }}</h1>
	<form action="{{ path('perfil') }}" method="post" {{ form_enctype(formulario) }}>
		<div class="errors">
		{{ form_errors(formulario) }}
		</div>
		<table class='form'>
		<tbody>
			<tr>
				<td style='width:150px'>{{ form_label(formulario.nombre) }}</td>
				<td>{{ form_widget(formulario.nombre) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(formulario.apellidos) }}</td>
				<td>{{ form_widget(formulario.apellidos) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(formulario.email) }}</td>
				<td>{{ form_widget(formulario.email) }}</td>
			</tr>
						<tr>
				<td>{{ form_label(formulario.nombre_usuario) }}</td>
				<td>{{ form_widget(formulario.nombre_usuario) }}</td>
			</tr>

			<tr>
				<td>{{ form_label(formulario.direccion) }}</td>
				<td>{{ form_widget(formulario.direccion) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(formulario.ciudad) }}</td>
				<td>{{ form_widget(formulario.ciudad) }}</td>
			</tr>
			<tr>
				<td>{{ form_label(formulario.pais) }}</td>
				<td>{{ form_widget(formulario.pais) }}</td>
			</tr>
			<tr>
				<td> Idioma</td>
				<td>{{ form_widget(formulario.idioma) }}</td>
			</tr>
			<tr>
				<td> Zona horaria</td>
				<td>{{ form_widget(formulario.zone) }}</td>
			</tr>
			{{ form_rest(formulario) }}
			<tr>
				<td> Fecha de Registro</td>
				<td>{{ usuario.fechaRegistro|date('d/m/Y H:i', false ) }}</td>
			</tr>
			<tr>
				<td> Espacio ocupado</td>
				<td> {{ usuario.ocupado }} de {{ usuario.limite }} MB</td>
			</tr>
			<tr>
				<td> Libre</td>
				<td>{{ libre }}</td>
						
			</tr>
			<tr>
				<td colspan="2"><div>
					<progress value="{{ libre_porcentaje }}" max="100"></progress>
					<!-- <span style='position:relative;left:-105px;z-index:1;font-size:12pt'>{{ libre_porcentaje }}%  </span> -->
				</div></td>		
			</tr>
		</div>
		</tbody>
		</table><br>
		<td><input class="boton" type="submit" value="Guardar cambios" /></td>
		<br>
		
	</form>
	

</section>
{% endblock %}