{% extends '::backend.html.twig' %}
{% block title %}Estadisticas {% endblock %}

{% block article %}
<section>
	<h1>{{ block('title') }}</h1>
		<table class='form'>
		<tbody>
			<tr>
				<td style='width:250px'>Usuarios Registrados</td>
				<td>{{ datos.registrados }}</td>
			</tr>
			<tr>
				<td>Usuarios Conectados</td>
				<td></td>
			</tr>
			<tr><td></td></tr>
			<tr>
				<td>Total Archivos</td>
				<td>{{ datos.ficheros }}</td>
			</tr>
			<tr>
				<td>Tama&ntilde;o Total Archivos</td>
				<td>{{ datos.filesize }} GB</td>
			</tr
			<tr>
				<td>Tama&ntilde;o Disco</td>
				<td>{{ datos.size }} GB</td>
			</tr>
			<tr>
				<td>Espacio Libre en Disco</td>
				<td>{{ datos.free_space }} GB</td>
			</tr>
			<tr>
				<td>Links</td>
				<td>{{ datos.links }}</td>
			</tr>
			<tr>
				<td>Total Descargas</td>
				<td>{{ datos.total_descargas}}</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</tbody>
		</table>	
	</form>
</section>
{% endblock %}